/* Root section to add background colour etc. */
:root{
    --beige: rgb(233, 198, 165);
    --almond: rgb(255, 241, 225);
    --light-beige: rgb(245, 220, 197);
    --maroon: rgb(55, 17, 18);
    --light-maroon: rgb(88, 23, 24);
}

/* IMPORTING FONT */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;900&display=swap');

/* BODY */
body{
    /* font size must be 100% */
    font-family: 'Noto Sans', sans-serif;
    font-size: 100%;
    background-color: var(--beige);
}

/* NAVIGATION */
.navbar{
    background-color: var(--maroon);
    border-bottom: 1px solid black;
    }

.nav-item:hover{
    background-color: var(--light-maroon);
    }

.nav-link{
    text-align: center;
    font-size: 1.5em;
    color: var(--light-beige);
    }

.nav-link:hover{
    color: var(--beige);
    }

nav .btn-outline{
    display: inline-block;
}

.material-icons{
    padding: 0.25em 0.2em;
}

/* BUTTONS */
.btn{
    background-color: var(--maroon);
    color: var(--light-beige);
}

.btn-outline{
    border: 1px solid var(--light-beige);
   padding: 0em 1em;
}

.btn-outline:hover{
    background-color: var(--light-maroon);
    color: var(--beige);
}

/* CIRCULAR IMAGES */
.image-text{
    color: var(--maroon);
}

.col-md-4{
    text-align: center;
    margin-bottom: 2.5em;
}

.img-size{
    display: block;
}
/* -- circular overlay ---*/
    .circular-overlay{

    position:absolute;
    left:50%;
    top:50%;
    width:100%;
    transform:translate(-50%,-50%);
    border: 0px solid green;

    }
    .circular-overlay p{
    color:var(--light-beige);
    font-size: 1em;
    }

/* TEXT */
.body-text{
    font-size: 1em;
    text-align: center;
    color: var(--maroon);
}

h1{
    font-size: 3em;
    text-align: center;
    font-weight: 600;
    padding: 0.3em 0;
    color: var(--maroon);
}

h2{
    font-size: 2.5em;
    text-align: center;
    font-weight: 600;
    padding: 0.3em 0;
    color: var(--maroon);
}

h3{
    font-size: 2em;
    text-align: center;
    font-weight: 600;
    margin: 0;
    color: var(--maroon);
}

/* special colour for h1 */
.special{
    color: var(--beige);
    background-color: var(--maroon);
}

.quote{
    font-size: 1.5em;
    font-weight: 600;
    color: var(--maroon);
    padding-right: 2em;
    padding-top: 1em;
}

.quote-footer{
    font-size: 1em;
    font-weight: 600;
    color: var(--maroon);
    padding-right: 4em;
    padding-bottom: 1em;
}

/* CONTAINERS */
.container-lg{
    border: 0px solid blue;
    background-color: var(--almond);
    margin-bottom: 2em;
 }

.container-collapse{
    border: 0px solid blue;
    margin-top: 1em;
 }

.glossary{
    border: 0px solid blue;
    background-color: var(--almond);
    margin-left: 2em;
    margin-right: 2em;
    padding: 2em 2em;
    border-radius: 40px;
}

.container-fluid{
    border: 0px;
    padding:0;
}

.col-lg-6{
    border: 0px solid blue;
}

.row{
    border: 0px solid red;
    padding: 1em 0 1em 0;
}

.news{
    border: 0px solid blue;
    background-color: var(--almond);
    padding: 1em 2em;
    margin-bottom: 2em;
    margin-top: 2em;
    margin-left: 2em;
    margin-right: 2em;
    border-radius: 40px;
 }

/* IMAGES */
.part-img{
    max-width: 100%;
    display: block;
}

.img-size{
    width:100%;
    max-width: 500px;
    display: block;
    margin: auto;
}

/* --- banner styles --- */
.text-float{
    font-size: 3em;
    text-align: center;
    font-weight: 600;
    color: var(--beige);
    position:absolute;
    left:50%;
    top:50%;
    width:100%;
    transform:translate(-50%,-50%);
    border: 2px solid green;

    }
.text-float .header{
    font-size: 3em;
    }

.text-float .header-quote{
    font-size: 0.6em;
    text-align: right;
    padding: 0em 1em;
    }

.banner{
    margin-top: 2em;
}

/* FORM */
label, input[type='text'], input[type='email'], input[type='tel'], textarea{
    font-size: 1em !important;
    color: var(--maroon);
}

/* TABLE */
table{
    margin:auto;
}
td{
    color: var(--maroon);
    font-size: 1.5em;
    padding: 0.25em;
    border-bottom: 1px solid var(--maroon);
}
td:first-child{
    text-align: right;
    font-weight: bold;
}

/* NEWS */
.subtitle{
    font-size: 2em;
    text-align: center;
    font-weight: 550;
    color: var(--maroon);
    padding-bottom: 0.125em;
}

.news-text{
    font-size: 1.3em;
    text-align: center;
    font-weight: 500;
    margin: 0;
    color: var(--maroon);
    padding-bottom: 0.5em;
}

.news-meta{
    font-size: 1em;
    color: var(--maroon);
}

/* FOOTER */
.footer-content{
    background-color: var(--maroon);
    text-align: center;
    padding: 0.5em 0 0.5em 0;
    color: var(--light-beige);
}

.footer-content p:first-child{
    font-weight:600;
    font-size: 1.5em;
}

/* MEDIA QUERIES */

@media only screen and (max-width:992px){

   .text-float .header{
     font-size:2.3em;
     }

}

@media only screen and (max-width:768px){

    .body-text{
        font-size: 1.2em;
    }

    .part-image{
        max-width: 100%;
    }

    .h1{
        font-size:4em;
    }

    .h3{
        font-size:3em;
    }

    .text-float .header{
     font-size:1.5em;
     }

   .text-float .header-quote{
        display:none;
    }

   .subtitle{
       font-size:1.5em;
   }

}