/* Root section to add background colour etc. */
:root{
    --beige: rgb(233, 198, 165);
    --almond: rgb(255, 241, 225);
    --light-beige: rgb(245, 220, 197);
    --maroon: rgb(55, 17, 18);
    --light-maroon: rgb(100, 6, 17);
}

/* IMPORTING FONT */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;900&display=swap');

/* BODY */
body{
    /* font size must be 100% */
    font-family: 'Noto Sans', sans-serif;
    font-size: 100%;
    background-color: var(--beige);
}

/* NAVIGATION */
.navbar{
    background-color: var(--maroon);
    border-bottom: 1px solid black;
    }

.nav-item:hover{
    background-color: var(--light-maroon);
    }

.nav-link{
    text-align: center;
    font-size: 1.5em;
    color: var(--beige);
    }

.nav-link:hover{
    color: var(--light-beige);
    }

nav .btn-outline{
    display: inline-block;
}

.material-icons{
    color: var(--beige);
    padding: 0.25em 0.2em;
}

/* BUTTONS */
.btn{
    background-color: var(--maroon);
    color: var(--beige);
}

.btn-outline{
    border: 1px solid var(--beige);
    padding: 0.2em 1em;
}

.btn-outline:hover{
    border: 1px solid var(--light-beige);
    background-color: var(--light-maroon);
    color: var(--light-beige);
}

.btn-round {
    border-radius: 70%;
}

/* TEXT STYLES */
.center{
   text-align: center;
}

.body-text{
    font-size: 1em;
    text-align: center;
    color: var(--maroon);
}

h1{
    font-size: 3em;
    text-align: center;
    font-weight: 600;
    padding: 0.3em 0;
    color: var(--maroon);
}

h2{
    font-size: 2.5em;
    text-align: center;
    font-weight: 600;
    padding: 0.3em 0;
    color: var(--maroon);
}

h3{
    font-size: 2em;
    text-align: center;
    font-weight: 600;
    margin: 0;
    color: var(--maroon);
}

h4{
    font-size: 1.5em;
    font-weight: 600;
    margin: 0;
    color: var(--maroon);
}

li{
    color: var(--maroon);
}

/* special colours for text */

/* Special colour and background */
.special{
    color: var(--beige) !important;
    background-color: var(--maroon) !important;
}

/* Special text colour */
.special_text{
    color: var(--beige) !important;
}

.welcome{
        font-size: 20em;
        position: absolute;
        text-align: left;
        margin-left: 30em;
        color: var(--beige);
    }

.alert{
    color: red;
    font-size: 1.5em;
    font-weight: 500;
    text-align: center;
}

.quote{
    font-size: 1.5em;
    font-weight: 600;
    color: var(--maroon);
    padding: 0em 1.3em;
    padding-top: 1em;
}

.quote-footer{
    font-size: 1em;
    font-weight: 600;
    color: var(--maroon);
    padding-right: 2em;
    padding-bottom: 1em;
}

/* --- banner styles --- */
.text-float{
    font-size: 3em;
    text-align: center;
    font-weight: 600;
    color: var(--beige);
    position:absolute;
    left:50%;
    top:50%;
    width:100%;
    transform:translate(-50%,-50%);
    }

.text-float .header{
    font-size: 3.1em;
    }

.text-float .header-quote{
    font-size: 0.6em;
    text-align: right;
    padding: 0em 1em;
    }

.text-float .small-header{
    font-size: 2.6em;
    text-align: right;
    padding: 0em 0.5em;
    }

.text-float .small-header-quote{
    font-size: 0.6em;
    text-align: right;
    padding: 0em 2em;
    }

/* CONTAINERS */
.container-lg{
    border: 0px solid blue;
    background-color: var(--almond);
    margin-bottom: 2em;
 }

.container-maroon{
    border: 0px solid blue;
    background-color: var(--maroon);
    margin-bottom: 2em;
    margin-left: 3em;
    margin-right: 3em;
 }

.container-collapse{
    border: 0px solid blue;
    margin-top: 1em;
 }

.collapse-area{
    border: 0px solid blue;
    background-color: var(--almond);
    margin-left: 2em;
    margin-right: 2em;
    padding: 2em 2em;
    border-radius: 40px;
}

.container-fluid{
    border: 0px;
    padding:0;
}

.col-md-4{
    text-align: center;
    margin-bottom: 2.5em;
}

.row{
    border: 0px solid red;
    padding: 1em 0 1em 0;
}

.container_round{
    border: 0px solid blue;
    background-color: var(--almond);
    padding: 2em 2em;
    margin-bottom: 2em;
    margin-top: 1em;
    margin-left: 2em;
    margin-right: 2em;
    border-radius: 40px;
 }

.small_container_round{
    border: 0px solid blue;
    background-color: var(--almond);
    padding: 1em 1em;
    margin-bottom: 1em;
    margin-top: 1em;
    margin-left: 2em;
    margin-right: 2em;
    border-radius: 40px;
 }

/* IMAGES */
.part-img{
    align-items: center;
    max-width: 100%;
    display: block;
}

.img-size{
    width:100%;
    max-width: 500px;
    display: block;
    margin: auto;
}

/* -- circular images ---*/
    .rounded-circle:hover, .circular-overlay:hover ~.rounded-circle {
    border:15px solid var(--almond);
    }

    .rounded-circle{
        border:15px solid var(--beige);
    }

    .circular-overlay{
        position:absolute;
        left:50%;
        top:54%;
        width:100%;
        transform:translate(-50%,-50%);

    }
    .circular-overlay p{
        padding: 0.7em 0.5em;
        color: var(--beige) !important;
        font-size: 1.2em !important;
        font-weight: 500 !important;
        text-align: center;
    }

    .circular-overlay h4{
        color: var(--beige) !important;
        font-size: 2em !important;
        font-weight: 600 !important;
        text-align: center;
    }

/* Gallery */
.carousel{
    max-width: 600px;
    display: block;
    margin: auto;
}

.carousel-caption{
   position: absolute;
    margin-top: 3px;
}

/* Banner */
.banner{
    margin-top: 1.5em;
}

/* FORM */
label, input[type='text'], input[type='email'], input[type='tel'], textarea{
    font-size: 1em !important;
    color: var(--maroon);
}

/* TABLE */
table{
    margin:auto;
}

td{
    color: var(--maroon);
    font-size: 1.5em;
    padding: 0.2em 1em;
    border-bottom: 1px solid var(--maroon);
}

td:first-child{
    text-align: right;
    font-weight: bold;
}

.big-text{
    font-size: 1.3em;
    text-align: center;
    font-weight: 500;
    margin: 0;
    color: var(--maroon);
    padding-bottom: 0.5em;
}

.class-text{
    font-size: 1.3em;
    text-align: left;
    font-weight: 500;
    margin: 0;
    color: var(--maroon);
}

.meta{
    font-size: 1em;
    color: var(--maroon);
}

/* FOOTER */
.footer-content{
    background-color: var(--maroon);
    text-align: center;
    padding: 0.5em 0 0.5em 0;
    color: var(--light-beige);
}

.footer-content p:first-child{
    font-weight:600;
    font-size: 1.5em;
}

/* MEDIA QUERIES */
@media only screen and (max-width:1400px){

    .text-float .small-header{
     font-size:2.2em;
     }

    .text-float .small-header-quote{
    font-size: 0.5em;
    text-align: right;
    }

    .circular-overlay p{
      padding: 0.2em 3em;
    }

}

@media only screen and (max-width:1200px){

    .text-float .small-header{
     font-size:1.9em;
     }

    .text-float .small-header-quote{
    font-size: 0.45em;
    text-align: right;
    }

}

@media only screen and (max-width:992px){

   .text-float .header{
     font-size:2.3em;
     }

    .text-float .small-header{
     font-size:1.5em;
     }

    .text-float .header-quote{
        display:none;
    }

    .text-float .small-header-quote{
    font-size: 0.4em;
    text-align: right;
    }

  .circular-overlay p{
      padding: 0.2em 2em;
    }

  .quote{
    font-size: 1.1em;
  }

    .quote-footer{
    font-size: 0.8em;
    }

    .welcome{
        position: absolute;
        text-align: left;
        margin-right: 50em;
    }

}

@media only screen and (max-width:768px){

    .body-text{
        font-size: 1.2em;
    }

    .part-image{
        max-width: 100%;
    }

    .h1{
        font-size:4em;
    }

    .h3{
        font-size:3em;
    }

    .text-float .header{
     font-size:1.8em;
     }

   .text-float .header-quote{
        display:none;
    }

   .text-float .small-header{
     font-size:1.1em;
     }

   .text-float .small-header-quote{
        display:none;
    }

   .subtitle{
       font-size:1.5em;
   }

   td {
       font-size: 1.2em;
       padding: 0.1em 0.5em;
   }

   .circular-overlay p{
      padding: 0.75em 0.5em;
    }
}

@media only screen and (max-width:576px){

    .text-float .header{
     font-size: 1.5em;
     }

    .text-float .small-header{
     font-size:1em;
     }

    .text-float .small-header-quote{
        display:none;
    }

    td{
       font-size: 1em;
       padding: 0.1em 0.5em;
    }

}