{% extends "layout.html" %}

{% block title %}
Add member
{% endblock %}

{% block banner %}
static/images/BigBanner.jpg
{% endblock %}

{% block header %}
ADD MEMBER
{% endblock %}

{% block content %}
<div class="container_round">
    <form action="{{url_for('add_member') }}" method="POST">
        <label for="selgroup" class="form-label">Which Student/Teacher do you want to add</label>
        <select class="form-select" id="selgroup" name="selgrouplist" required>
            <option value="">-- Select --</option>
            {%  for row in member %}
                <option value="member">{{ row['age_group'] }}: {{ row['firstname'] }} {{ row['surname'] }}</option>
            {% endfor %}
        </select>
        <div class="text-end">
            <button type="submit" class="btn btn-lg btn-outline">Submit</button>
        </div>
    </form>
</div>
{% endblock %}

