{% extends "layout.html" %}

{% block title %}
Beginner Info
{% endblock %}

{% block banner %}
static/images/banner2.jpg
{% endblock %}

{% block content %}
 <!-- BUTTONS -->
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <a href="/" class="btn btn-outline btn-lg"> Home </a>
                <p class="image-text"> Head back to the homepage </p>
                <img class="img-size rounded-circle" src="static/images/Dance3.jpg" alt="">
            </div>
            <div class="col-md-4">
                <a href="/newsevents" class="btn btn-outline btn-lg"> New/Events </a>
                <p class="image-text"> Updates about performances and classes </p>
                <img class="img-size rounded-circle" src="static/images/Dance1.jpg" alt="">
            </div>
            <div class="col-md-4">
            <a href="/enrol" class="btn btn-outline btn-lg"> Enrol </a>
            <p class="image-text"> Enrol with us now</p>
                <img class="img-size rounded-circle" src="static/images/Dance2.jpg" alt="">
            </div>
        </div>
    </div>
</div>
{% endblock %}