{% extends "layout.html" %}

{% block title %}
Beginner Info
{% endblock %}

{% block banner %}
static/images/banner2.jpg
{% endblock %}

{% block content %}
<!-- CLASSES -->
<br>
<div class="container-lg">
   <div class="row align-items-center">
       <div class="col-lg-6">
           <h3>Classes</h3>
           <br>
           <ul>
               <li>Junior Students: 3:30-5:30 pm on Mondays, Jennifer Evans Dance Studio, Samuel Marsden</li>
               <li>Senior Students: 3:30-5:30 pm on Wednesdays, Jennifer Evans Dance Studio, Samuel Marsden</li>
               <li>Adults: 4:30-6:30 pm on Saturdays, Jennifer Evans Dance Studio, Samuel Marsden</li>
           </ul>
       </div>
       <div class="col-lg-6">
           <img class="img-fluid part-img" src="static/images/placeholder_1200_1200.png">
       </div>
   </div>
</div>

<!-- EQUIPMENT -->
<div class="container-lg">
   <div class="row align-items-center">
       <div class="col-lg-6">
           <h3>Equipment:</h3>
           <br>
           <ul>
               <li>Comfortable loose clothing, e.g loose pants, churidar or salwar kameez</li>
               <li>Ghungroo / bells that are tied to the feet</li>
               <li>Notebook & pen</li>
                <li>No footwear required while dancing</li>
           </ul>
       </div>
        <div class="col-lg-6">
           <img class="img-fluid part-img" src="static/images/placeholder_1200_1200.png">
       </div>
   </div>
</div>

<!-- COLLAPSE FOR PRACTICE VIDEOS -->
<a class="btn btn-lg btn-outline d-grid" data-bs-toggle="collapse" href="#collapse"> Practice Videos </a>
   <div id="collapse" class="collapse">
       <div class="container-lg">
           <p> NEED VIDEOS! </p>
       </div>
   </div>
<br>
{% endblock %}