{% extends "layout.html" %}

{% block title %}
Beginner Info
{% endblock %}

{% block banner %}
static/images/banner2.jpg
{% endblock %}

{% block content %}
 <!-- BUTTONS -->
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <a href="/" class="btn btn-outline btn-lg"> Home </a>
                <p class="image-text"> Head back to the homepage </p>
                <img class="img-size rounded-circle" src="static/images/Dance3.jpg" alt="">
            </div>
            <div class="col-md-4">
                <a href="/newsevents" class="btn btn-outline btn-lg"> New/Events </a>
                <p class="image-text"> Updates about performances and classes </p>
                <img class="img-size rounded-circle" src="static/images/Dance1.jpg" alt="">
            </div>
            <div class="col-md-4">
            <a href="/enrol" class="btn btn-outline btn-lg"> Enrol </a>
            <p class="image-text"> Enrol with us now</p>
                <img class="img-size rounded-circle" src="static/images/Dance2.jpg" alt="">
            </div>
        </div>
    </div>
</div>

<!-- COLLAPSE -->

<!-- Collapse 1 -->
<a class="btn btn-outline btn-lg d-grid" data-bs-toggle="collapse" href="#collapseOne"> Classes </a>
   <div id="collapseOne" class="collapse show">
       <ul>
           <li>Junior Students: 3:30-5:30 pm on Mondays, Jennifer Evans Dance Studio, Samuel Marsden</li>
           <li>Senior Students: 3:30-5:30 pm on Wednesdays, Jennifer Evans Dance Studio, Samuel Marsden</li>
           <li>Adults: 4:30-6:30 pm on Saturdays, Jennifer Evans Dance Studio, Samuel Marsden</li>
       </ul>
   </div>

<a class="btn btn-outline btn-lg d-grid" data-bs-toggle="collapse" href="#collapseTwo"> Classes </a>
   <div id="collapseTwo" class="collapse show">
       <ul>
           <li>Junior Students: 3:30-5:30 pm on Mondays, Jennifer Evans Dance Studio, Samuel Marsden</li>
           <li>Senior Students: 3:30-5:30 pm on Wednesdays, Jennifer Evans Dance Studio, Samuel Marsden</li>
           <li>Adults: 4:30-6:30 pm on Saturdays, Jennifer Evans Dance Studio, Samuel Marsden</li>
       </ul>
   </div>

<a class="btn btn-outline btn-lg d-grid" data-bs-toggle="collapse" href="#collapseThree"> Classes </a>
   <div id="collapseThree" class="collapse show">
       <ul>
           <li>Junior Students: 3:30-5:30 pm on Mondays, Jennifer Evans Dance Studio, Samuel Marsden</li>
           <li>Senior Students: 3:30-5:30 pm on Wednesdays, Jennifer Evans Dance Studio, Samuel Marsden</li>
           <li>Adults: 4:30-6:30 pm on Saturdays, Jennifer Evans Dance Studio, Samuel Marsden</li>
       </ul>
   </div>


{% endblock %}