{% extends "layout.html" %}

{% block title %}
classes
{% endblock %}

{% block smallbanner %}
static/images/Classes.jpg
{% endblock %}

{% block smallheader %}
CLASSES
{% endblock %}

{% block smallquote %}
Register for one of our classes today!
{% endblock %}


{% block content %}
<!-- news structure -->
<!-- LOOP -->
{% for row in classes %}
<div class="container_round">
    <h2>{{ row['class_title'] }}</h2>
    <h3>{{ row['class_subtitle'] }}</h3>
    <hr>
    <p class="big-text">{{ row['class_description'] }}</p>
    <!-- buttons -->
    <div class="text-end">
        {%  if session and session['authorisation'] == 0 %}
        <a class="btn btn-lg btn-outline" href="{{ url_for('registration', class_id=row['class_id'])  }}">Register</a>
        {%  endif %}
    </div>
</div>
{% endfor %}

{% endblock %}