{% extends "layout.html" %}

{% block title %}
classes
{% endblock %}

{% block smallbanner %}
static/images/Classes.jpg
{% endblock %}

{% block smallheader %}
CLASSES
{% endblock %}

{% block smallquote %}
Register for one of our<br>
classes today!
{% endblock %}

{% block content %}
<!-- news structure -->
<!-- LOOP -->
{% for row in classes %}
<div class="container_round">
    <div class="row align-items-center">
       <div class="col-lg-6">
           <h2>{{ row['class_title'] }}</h2>

            <h3>{{ row['class_subtitle'] }}</h3>
            <hr>
            <p class="big-text">{{ row['class_description'] }}</p>
            <!-- buttons -->
            <div class="text-end">
                {%  if session and session['authorisation'] == 0 %}
                <a class="btn btn-lg btn-outline" href="{{ url_for('registration', class_id=row['class_id'])  }}">Register</a>
                {%  endif %}
            </div>
           <br>
       </div>
        <div class="col-lg-6">
            {% if row['class_title'] == "Lucknow Gharana" %}
                <img class="img-fluid part-img" src="static/images/Lucknow.jpg" alt="Illustration of a dancer sitting on the ground, with one arm above their head and the other arm near their shoulder">
            {% elif row['class_title'] == "Jaipur Gharana" %}
                <img class="img-fluid part-img" src="static/images/Jaipur.jpg" alt="Illustration of a dancer with one are extended above their head, and the other arm facing downwards towards the ground">
            {% else %}
                <img class="img-fluid part-img" src="static/images/Banaras.jpg" alt="Illustration of a dancer balancing on a plate">
            {% endif %}
        </div>
   </div>
</div>
{% endfor %}

{% endblock %}