{% extends "layout.html" %}

{% block title %}
Confirm
{% endblock %}

{% block banner %}

{% endblock %}

{% block content %}
<div class="container-lg">
    <h1>Your Details</h1>
    <table>
        <tr> <td>First Name</td> <td>{{ signup_data['firstname'] }}</td> </tr>
        <tr> <td>Surname</td> <td>{{ signup_data['surname'] }}</td> </tr>
        <tr> <td>Email</td> <td>{{ signup_data['email'] }}</td> </tr>
    </table>
    <br>
    <div class="text-center">
        <a href="{{url_for('index') }}" class="btn btn-lg btn-outline">Cancel</a>
        <a href="{{url_for('index') }}" class="btn btn-lg btn-outline">Confirm</a>
        <a href="{{url_for('signup', **signup_data) }}" class="btn btn-lg btn-outline">Edit</a>
    </div>
    <br>
</div>
{% endblock %}