{% extends "layout.html" %}

{% block title %}
Enrol
{% endblock %}

{% block banner %}
static/images/banner4.jpg
{% endblock %}

{% block content %}
<!-- text -->
<br>
<div class="container-lg">
    <p class="quote">
        Enrol with Kala Dance group now and we'll update you on when your first class is!
    </p>
</div>

<div class="container-lg p-3">
    <form action="{{url_for('enrol') }}" method="POST">
        <div>
            <label for="firstname" class="form-label">First Name: </label>
            <input type="text" class="form-control" id="firstname" name="firstname" placeholder="Enter name" value="{{firstname}}" required>
        </div>
        <br>
        <div>
            <label for="surname" class="form-label">Surname: </label>
            <input type="text" class="form-control" id="surname" name="surname" placeholder="Enter surname" value="{{surname}}" required>
        </div>
        <br>
        <div>
            <label for="email" class="form-label">Email Address: </label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter email address" value="{{email}}" required>
        </div>
        <br>
        <div>
            <label for="phone" class="form-label">Phone Number: </label>
            <input type="tel" class="form-control" id="phone" name="phone" placeholder="Enter phone number" value="{{phone}}" required>
        </div>
        <br>
        <div>
            <label for="aboutme" class="form-label">Tell us a little bit about youself: </label>
            <textarea id="aboutme" class="form-control" rows="5" name="aboutme"  placeholder="e.g learning style, dance experience">{{aboutme}}</textarea>
        </div>
        <br>
        <div class="text-end">
            <button type="reset" class="btn btn-outline">Reset</button>
            <button type="submit" class="btn btn-outline">Submit</button>
        </div>
    </form>
</div>
{% endblock %}