{% extends "layout.html" %}

{% block title %}
Enrol
{% endblock %}

{% block banner %}
static/images/banner4.jpg
{% endblock %}

{% block content %}
<!-- text -->
<br>
<div class="container-lg">
    <p class="quote">
        Enrol with Kala Dance group now and we'll update you on when your first class is!
    </p>
</div>

<div class="container-lg p-3">
    <form action="{{url_for('enrol') }}" method="POST">
        <div class="form-floating">
            <input type="text" class="form-control" id="firstname" name="firstname" placeholder="Enter name" value="{{firstname}}" required>
            <label for="firstname" class="form-label">First Name: </label>
        </div>
        <br>
        <div class="form-floating">
            <input type="text" class="form-control" id="surname" name="surname" placeholder="Enter surname" value="{{surname}}" required>
            <label for="surname" class="form-label">Surname: </label>
        </div>
        <br>
        <div class="form-floating">
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter email address" value="{{email}}" required>
            <label for="email" class="form-label">Email Address: </label>
        </div>
        <br>
        <label for="selgroup" class="form-label">Are you a teacher or student?</label>
        <select class="form-select" id="selgroup" name="selgrouplist" required>
            <option>-- Select --</option>
            <option>Teacher</option>
            <option>Junior student (Year 7-10)</option>
            <option>Senior student (Year 11-13)</option>
        </select>
        <br>
        <div>
            <label for="aboutme" class="form-label">Tell us a little bit about youself: </label>
            <textarea id="aboutme" class="form-control" rows="7" name="aboutme"  placeholder="e.g learning style, dance experience">{{aboutme}}</textarea>
        </div>
        <br>
        <div class="text-end">
            <button type="reset" class="btn btn-lg btn-outline">Reset</button>
            <button type="submit" class="btn btn-lg btn-outline">Submit</button>
        </div>
    </form>
</div>
{% endblock %}