{% extends "layout.html" %}

{% block title %}
glossary
{% endblock %}

{% block smallbanner %}
static/images/Glossary.jpg
{% endblock %}

{% block smallheader %}
    GLOSSARY
{% endblock %}

{% block smallquote %}
Dont understand a word? <br>
Look at our glossary
{% endblock %}

{% block content %}
<div class="container_round">
    <table>
        {% for row in glossary %}
        <tr><td>{{ row['word'] }}</td> <td>{{ row['meaning'] }}</td> <td>{{ row['pronunciation'] }}</td></tr>
        {% endfor %}
    </table>
</div>
{% endblock %}