{% extends "layout.html" %}

{% block title %}
Home
{% endblock %}

{% block banner %}
static/images/Banner1.jpg
{% endblock %}

{% block content %}
<!-- BUTTONS -->
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <a href="/beginnerinfo" class="btn btn-outline btn-lg"> Beginner Info </a>
                <p class="image-text"> Find classes, equipment and videos here</p>
                <img class="img-size rounded-circle" src="static/images/Dance3.jpg" alt="">
            </div>
            <div class="col-md-4">
                <a href="/news" class="btn btn-outline btn-lg">News</a>
                <p class="image-text"> Updates about performances and classes</p>
                <img class="img-size rounded-circle" src="static/images/Dance1.jpg" alt="">
            </div>
            <div class="col-md-4">
            <a href="/enrol" class="btn btn-outline btn-lg"> Enrol </a>
            <p class="image-text"> Enrol with us and attend your first class</p>
                <img class="img-size rounded-circle" src="static/images/Dance2.jpg" alt="">
            </div>
        </div>
    </div>
</div>

<h1 class="special">About Us</h1>

<div class="container-lg">
    <div class="row align-items-center">
        <div class="col-lg-6">
            <h3>Guru Usha Bhatnagar:</h3>
            <br>
            <p class="body-text">
            The teacher of this class is Usha Bhatnagar, who at the age of ten, won the “All India”
            national dance competition for her Kathak dance performance. She initially learnt the Jaipur
            Gharana from Guru Shankar Dev Jha, but in her adulthood, learnt the Lucknow Gharana from
            a very prestigious and famous Kathak dancer, Pandit Shambhu Maharaj. His ancestors were the
            people who formed the Lucknow Gharana, it is like a family heirloom passed down to every generation.
            When Usha auditioned to be in Pandit Shambhu Maharaj’s class, he began crying as he said:
            “you were born to dance, what took you so long to come to me, where have you been my whole life?”.
            After this, her Kathak career took off and she began dancing in many national conferences with
            famous musicians. In Aotearoa, it is tough to find a dance class that teaches traditional Kathak. Nowadays,
            most Kathak classes have mixed various Gharanas together and formed more of a modern, contemporary
            dance form. With the Kala dance group, you can learn traditional Lucknow Gharana Kathak and preserve
            this ancient dance form.
            </p>
        </div>
        <div class="col-lg-6">
            <img class="img-fluid part-img" src="static/images/UshaBhatnagar.jpg">
        </div>
    </div>
</div>
<!-- TEXT -->
<div class="container-lg">
    <div class="row align-items-center">
        <div class="col-lg-6">
            <h3>The history of Kathak:</h3>
            <br>
            <p class="body-text">
            Kathak dates back to the 4th century BC. The word “Katha” means story,
            and Kathakars were storytellers who often danced as a form of worship or devotion. Kathak is the
            only North Indian classical dance form, and also the only Indian classical dance that has both
            Hindu and Islamic cultural roots (due Mughal empires). Like all classical Indian dance forms, Kathak dance
            moves don’t vary based on gender/sex. During the British Raj, all Indian dance forms (including Kathak) were
            discouraged, as the British thought they were demonic and vulgar. Kathak was nearly erased by the British,
            however, it managed to stay alive thanks to certain families who secretly developed the dance within
            their homes.
            </p>
            <p class="body-text">
            This caused three distinct variations of Kathak to be formed (known as Gharanas), named after the
            cities they originated from: Lucknow, Banaras, and Jaipur. The Banaras Gharana has lots of jumping,
            dancing on plates and spinning on knees; whereas, the Jaipur Gharana has lots of fast spins, complex
            footwork and warrior-style moves. The Lucknow Gharana (which is the style that this class will learn),
            focuses on acting and emotions (known as bhaav) as well as complex footwork.
            </p>
        </div>
        <div class="col-lg-6">
            <img class="img-fluid part-img" src="static/images/MainImage1.jpg">
        </div>
    </div>
</div>
{% endblock %}