{% extends "layout.html" %}

{% block title %}
Information
{% endblock %}

{% block smallbanner %}
static/images/Info.jpg
{% endblock %}

{% block smallheader %}
INFO
{% endblock %}

{% block smallquote %}
Find information about<br>
our classes here
{% endblock %}

{% block content %}
<!-- Carousel -->
<div class="container-maroon mt-4">
    <div id="hastak" class="carousel slide" data-bs-ride="carousel">
        <!-- Indicators/dots -->
        <div class="carousel-indicators">
                <button type="button" data-bs-target="#hastak" data-bs-slide-to="0" class="active"></button>
                <button type="button" data-bs-target="#hastak" data-bs-slide-to="1"></button>
                <button type="button" data-bs-target="#hastak" data-bs-slide-to="2"></button>
                <button type="button" data-bs-target="#hastak" data-bs-slide-to="3"></button>
                <button type="button" data-bs-target="#hastak" data-bs-slide-to="4"></button>
                <button type="button" data-bs-target="#hastak" data-bs-slide-to="5"></button>
                <button type="button" data-bs-target="#hastak" data-bs-slide-to="6"></button>
                <button type="button" data-bs-target="#hastak" data-bs-slide-to="7"></button>
                <button type="button" data-bs-target="#hastak" data-bs-slide-to="8"></button>
                <button type="button" data-bs-target="#hastak" data-bs-slide-to="9"></button>
                <button type="button" data-bs-target="#hastak" data-bs-slide-to="10"></button>
                <button type="button" data-bs-target="#hastak" data-bs-slide-to="11"></button>
                <button type="button" data-bs-target="#hastak" data-bs-slide-to="12"></button>
                <button type="button" data-bs-target="#hastak" data-bs-slide-to="13"></button>
                <button type="button" data-bs-target="#hastak" data-bs-slide-to="14"></button>
                <button type="button" data-bs-target="#hastak" data-bs-slide-to="15"></button>
                <button type="button" data-bs-target="#hastak" data-bs-slide-to="16"></button>
                <button type="button" data-bs-target="#hastak" data-bs-slide-to="17"></button>
        </div>
                <!-- The slideshow/carousel -->
        <div class="carousel-inner">
               <h3 class="special py-3">Hastak</h3>
            <div class="carousel-item active">
                <img class="img-fluid" src="static/images/hastak1.jpg" alt="Image of a flat hand facing front-forward, with finger close together">
                <div class="carousel-caption">
                    <h4 class="special">Pataka</h4>
                    <p class="special">A flag</p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="img-fluid" src="static/images/hastak2.jpg" alt="Image of a flat hand facing front-forward with ring finger bent ninety degrees">
                <div class="carousel-caption">
                    <h4 class="special">Tripataka</h4>
                    <p class="special">A crown, a tree</p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="img-fluid" src="static/images/hastak3.jpg" alt="Image of a flat hand facing front-forward with ring finger and pinky bent ninety degrees">
                <div class="carousel-caption">
                    <h4 class="special">Ardhpataka</h4>
                    <p class="special">Leaves, a flag</p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="img-fluid" src="static/images/hastak4.jpg" alt="Image of a flat hand facing front-forward, with ring finger, pinky and thumb touching each other">
                <div class="carousel-caption">
                    <h4 class="special">Kartarimukh</h4>
                    <p class="special">Two people, the corner of the eye, separation</p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="img-fluid" src="static/images/hastak5.jpg" alt="Image of a flat hand facing front-forward, with ring finger and thumb touching each other">
                <div class="carousel-caption">
                    <h4 class="special">Mayur</h4>
                    <p class="special">Peacock</p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="img-fluid" src="static/images/hastak6.jpg" alt="Image of flat hand facing forward, but tilted to the side">
                <div class="carousel-caption">
                    <h4 class="special">Ardhchandra</h4>
                    <p class="special">The moon</p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="img-fluid" src="static/images/hastak7.jpg" alt="Image of a flat hand facing front-forward, with index finger bent ninety degrees">
                <div class="carousel-caption">
                    <h4 class="special">Aral</h4>
                    <p class="special">Poison, honeydew</p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="img-fluid" src="static/images/hastak8.jpg" alt="Image of a flat hand facing front-forward, with index and ring finger bent ninety degrees">
                <div class="carousel-caption">
                    <h4 class="special">Shuktund</h4>
                    <p class="special">Flood, wound, shock</p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="img-fluid" src="static/images/hastak9.jpg" alt="Image of a fist">
                <div class="carousel-caption">
                    <h4 class="special">Mushti</h4>
                    <p class="special">Firmness, strength</p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="img-fluid" src="static/images/hastak10.jpg" alt="Image of a fist with thumb facing up">
                <div class="carousel-caption">
                    <h4 class="special">Shikara</h4>
                    <p class="special">A bow (from a bow and arrow)</p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="img-fluid" src="static/images/hastak11.jpg" alt="Image of a thumb, ndex finger and middle finger touching each other, pink and ring finer facing up at an angle">
                <div class="carousel-caption">
                    <h4 class="special">Katkamukh</h4>
                    <p class="special">A cloud, wind, a barrier </p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="img-fluid" src="static/images/hastak12.jpg" alt="Image of fist with index finger facing up">
                <div class="carousel-caption">
                    <h4 class="special">Soochi</h4>
                    <p class="special">god, the world, refusal, a statement</p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="img-fluid" src="static/images/hastak13.jpg" alt="Image of hand tilted with index finger and thumb sticking out">
                <div class="carousel-caption">
                    <h3 class="special">Chandrakala</h3>
                    <p class="special">A cresent moon</p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="img-fluid" src="static/images/hastak14.jpg" alt="Image of flat hand facing front-forward, with all the fingers slighlty ben at the top">
                <div class="carousel-caption">
                    <h3 class="special">Sarpsheesh</h3>
                    <p class="special">A snake</p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="img-fluid" src="static/images/hastak16.jpg" alt="Image of a flat hand facing front-forward, with middle finger, ring finger and thumb touching each other. The index and pinky are sticking up">
                <div class="carousel-caption">
                    <h3 class="special">Sinhamukh</h3>
                    <p class="special">A rabbit</p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="img-fluid" src="static/images/hastak17.jpg" alt="Image of fingers spread out in the shape of a fan">
                <div class="carousel-caption">
                    <h3 class="special">Alpadma</h3>
                    <p class="special">A full-grown flower</p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="img-fluid" src="static/images/hastak19.jpg" alt="Image of all fingers touching each other and facing up, as if holding something">
                <div class="carousel-caption">
                    <h3 class="special">Mukul</h3>
                    <p class="special">Lotus flower, food </p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="img-fluid" src="static/images/hastak20.jpg" alt="Image of index and thumb touching each other in the shape of a teardrop, the pinky, ring and middle finger spread out">
                <div class="carousel-caption">
                    <h3 class="special">Hansaasya</h3>
                    <p class="special">A swan, fire from candles, tying a thread, putting earrings on </p>
                </div>
            </div>
        </div>
        <!-- Left and right controls/icons -->
        <button class="carousel-control-prev" type="button" data-bs-target="#hastak" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#hastak" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
        </button>
    </div>
</div>

<h1 class="special">Class Info</h1>

<!-- EQUIPMENT -->
<div class="container-lg">
   <div class="row align-items-center">
       <div class="col-lg-6">
           <img class="img-fluid part-img" src="static/images/ghungroo.jpg" alt="Image of bells attached to a string, which is tied to the feet">
       </div>
       <div class="col-lg-6">
           <br>
           <h2>Equipment</h2>
           <br>
           <div class="center">
               <p>Comfortable loose clothing</p>
               <p>Ghungroo / bells that are tied to the feet</p>
               <p>No footwear required while dancing</p>
               <p>Notebook & pen</p>
               <p>Water bottle and snacks</p>
           </div>
       </div>
   </div>
</div>
<!-- CLASSES -->
<div class="container-lg">
   <div class="row align-items-center">
       <div class="col-lg-6 py-3">
           <h2>Curriculumn</h2>
           <h4>Runs for 4 months and 1 week in each class</h4>
           <br>
           <div class="center">
               <h4><b>Junior Classes</b></h4>
               <p>Learn how to count kathak beats (2 lessons) </p>
               <p>Learn basic tatkaar (4 lessons) </p>
               <p>Learn basic tukda (4 lessons) </p>
               <p>Learn tihai (4 lessons) </p>
               <p>Learn chakkar (3 lessons) </p>
               <h4><b>Senior Classes</b></h4>
               <p>Learn chakkardar tukdas (4 lessons)</p>
               <p>Learn more complex tukdas (4 lessons)</p>
               <p>Learn hastak (2 lessons)</p>
               <p>Learn bhaav / emotions (1 lessons)</p>
               <p>Choreograph a dance (6 lessons)</p>
           </div>
       </div>
       <div class="col-lg-6">
            <!-- Carousel -->
            <div id="dancers" class="carousel slide" data-bs-ride="carousel">
                <!-- Indicators/dots -->
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#dancers" data-bs-slide-to="0" class="active"></button>
                    <button type="button" data-bs-target="#dancers" data-bs-slide-to="1"></button>
                </div>
                <!-- The slideshow/carousel -->
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="img-fluid part-img" src="static/images/DanceGroup2.jpg" alt="Image of dancers wearing Indian clothing">
                    </div>
                    <div class="carousel-item">
                        <img class="img-fluid part-img" src="static/images/DanceGroup.jpg" alt="Image of dancers wearing Indian clothing">
                    </div>
                </div>
                <!-- Left and right controls/icons -->
                <button class="carousel-control-prev" type="button" data-bs-target="#dancers" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#dancers" data-bs-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </button>
            </div>
        </div>
   </div>
</div>
<!-- CLASS TIMINGS -->
<div class="container-lg">
    <div class="row align-items-center">
        <div class="col-lg-6">
            <img class="img-fluid part-img" src="static/images/MainImage3.jpg" alt="Image of dancer during dance performance">
        </div>
        <div class="col-lg-6">
            <div class="center">
                <h2>Class Timings</h2>
                <br>
                <table>
                <tr><td>Class</td> <td><b>Juniors</b></td> <td><b>Seniors</b></td></tr>
                <tr><td>Jaipur Gharana</td> <td>Monday 3:30 to 4:30pm</td> <td>Monday 4:30 to 5:30pm</td></tr>
                <tr><td>Lucknow Gharana</td> <td>Tuesday 3:30 to 4:30pm</td> <td>Tuesday 4:30 to 5:30pm</td></tr>
                <tr><td>Banaras Gharana</td> <td>Wednesday 3:30 to 4:30pm</td> <td>Wednesday 4:30 to 5:30pm</td></tr>
                </table>
                <br>
                <h2>Prices</h2>
                <br>
                <table>
                <tr><td>Student</td> <td><b>Price per class</b></td></tr>
                <tr><td>Senior</td> <td>$30</td></tr>
                <tr><td>Junior</td> <td>$20</td></tr>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}