{% extends "layout.html" %}

{% block title %}
Initial Info
{% endblock %}

{% block banner %}
static/images/BigBanner.jpg
{% endblock %}

{% block header %}
INITIAL INFO
{% endblock %}

{% block quote %}

{% endblock %}

{% block source %}

{% endblock %}

{% block content %}
<!-- Carousel -->
<br>
<div class="container-maroon">
    <div id="hastak" class="carousel slide" data-bs-ride="carousel">
        <!-- Indicators/dots -->
        <div class="carousel-indicators">
                <button type="button" data-bs-target="#hastak" data-bs-slide-to="0" class="active"></button>
                <button type="button" data-bs-target="#hastak" data-bs-slide-to="1"></button>
                <button type="button" data-bs-target="#hastak" data-bs-slide-to="2"></button>
                <button type="button" data-bs-target="#hastak" data-bs-slide-to="3"></button>
                <button type="button" data-bs-target="#hastak" data-bs-slide-to="4"></button>
                <button type="button" data-bs-target="#hastak" data-bs-slide-to="5"></button>
                <button type="button" data-bs-target="#hastak" data-bs-slide-to="6"></button>
                <button type="button" data-bs-target="#hastak" data-bs-slide-to="7"></button>
                <button type="button" data-bs-target="#hastak" data-bs-slide-to="8"></button>
                <button type="button" data-bs-target="#hastak" data-bs-slide-to="9"></button>
                <button type="button" data-bs-target="#hastak" data-bs-slide-to="10"></button>
                <button type="button" data-bs-target="#hastak" data-bs-slide-to="11"></button>
                <button type="button" data-bs-target="#hastak" data-bs-slide-to="12"></button>
                <button type="button" data-bs-target="#hastak" data-bs-slide-to="13"></button>
                <button type="button" data-bs-target="#hastak" data-bs-slide-to="14"></button>
                <button type="button" data-bs-target="#hastak" data-bs-slide-to="15"></button>
                <button type="button" data-bs-target="#hastak" data-bs-slide-to="16"></button>
                <button type="button" data-bs-target="#hastak" data-bs-slide-to="17"></button>
        </div>
                <!-- The slideshow/carousel -->
        <div class="carousel-inner">
               <h3 class="special">Hastak</h3>
            <div class="carousel-item active">
                <img class="img-fluid" src="static/images/hastak1.jpg">
                <div class="carousel-caption">
                    <h4 class="special">Pataka</h4>
                    <p class="special">A flag</p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="img-fluid" src="static/images/hastak2.jpg">
                <div class="carousel-caption">
                    <h4 class="special">Tripataka</h4>
                    <p class="special">A crown, a tree</p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="img-fluid" src="static/images/hastak3.jpg">
                <div class="carousel-caption">
                    <h4 class="special">Ardhpataka</h4>
                    <p class="special">Leaves, a flag</p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="img-fluid" src="static/images/hastak4.jpg">
                <div class="carousel-caption">
                    <h4 class="special">Kartarimukh</h4>
                    <p class="special">Two people, the corner of the eye, separation</p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="img-fluid" src="static/images/hastak5.jpg">
                <div class="carousel-caption">
                    <h4 class="special">Mayur</h4>
                    <p class="special">Peacock</p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="img-fluid" src="static/images/hastak6.jpg">
                <div class="carousel-caption">
                    <h4 class="special">Ardhchandra</h4>
                    <p class="special">The moon</p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="img-fluid" src="static/images/hastak7.jpg">
                <div class="carousel-caption">
                    <h4 class="special">Aral</h4>
                    <p class="special">Poison, honeydew</p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="img-fluid" src="static/images/hastak8.jpg">
                <div class="carousel-caption">
                    <h4 class="special">Shuktund</h4>
                    <p class="special">Flood, wound, shock</p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="img-fluid" src="static/images/hastak9.jpg">
                <div class="carousel-caption">
                    <h4 class="special">Mushti</h4>
                    <p class="special">Firmness, strength</p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="img-fluid" src="static/images/hastak10.jpg">
                <div class="carousel-caption">
                    <h4 class="special">Shikara</h4>
                    <p class="special">A bow (from a bow and arrow)</p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="img-fluid" src="static/images/hastak11.jpg">
                <div class="carousel-caption">
                    <h4 class="special">Katkamukh</h4>
                    <p class="special">A cloud, wind, a barrier </p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="img-fluid" src="static/images/hastak12.jpg">
                <div class="carousel-caption">
                    <h4 class="special">Soochi</h4>
                    <p class="special">god, the world, refusal, a statement</p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="img-fluid" src="static/images/hastak13.jpg">
                <div class="carousel-caption">
                    <h3 class="special">Chandrakala</h3>
                    <p class="special">A cresent moon</p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="img-fluid" src="static/images/hastak14.jpg">
                <div class="carousel-caption">
                    <h3 class="special">Sarpsheesh</h3>
                    <p class="special">A snake</p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="img-fluid" src="static/images/hastak16.jpg">
                <div class="carousel-caption">
                    <h3 class="special">Sinhamukh</h3>
                    <p class="special">A rabbit</p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="img-fluid" src="static/images/hastak17.jpg">
                <div class="carousel-caption">
                    <h3 class="special">Alpadma</h3>
                    <p class="special">A full-grown flower</p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="img-fluid" src="static/images/hastak19.jpg">
                <div class="carousel-caption">
                    <h3 class="special">Mukul</h3>
                    <p class="special">Lotus flower, food </p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="img-fluid" src="static/images/hastak20.jpg">
                <div class="carousel-caption">
                    <h3 class="special">Hansaasya</h3>
                    <p class="special">A swan, fire from candles, tying a thread, putting earrings on </p>
                </div>
            </div>
        </div>
        <!-- Left and right controls/icons -->
        <button class="carousel-control-prev" type="button" data-bs-target="#hastak" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#hastak" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
        </button>
    </div>
</div>

<!-- CLASSES -->
<br>
<div class="container-lg">
   <div class="row align-items-center">
       <div class="col-lg-6">
           <h3>Curriculumn for all junior and all senior classes</h3>
           <br>
           <h4>First class is free for all students!</h4>
           <ol>
               <li><b>Junior Students: </b></li>
               <li>Runs for around 4 months and 1 week in each class:</li>
               <ul>
                   <li>Learn how to count kathak beats (2 lessons) </li>
                   <li>Learn basic tatkaar (4 lessons) </li>
                   <li>Learn basic tukda (4 lessons) </li>
                   <li>Learn tihai (4 lessons) </li>
                   <li>Learn chakkar (3 lessons) </li>
               </ul>
           </ol>
           <ol>
               <li><b>Senior Students:</b></li>
               <li>Runs for around 4 months and 1 week in each class:</li>
               <ul>
                   <li>Learn chakkardar tukdas (4 lessons)</li>
                   <li>Learn more complex tukdas (4 lessons)</li>
                   <li>Learn hastak (2 lessons)</li>
                   <li>Learn bhaav / emotions (1 lessons)</li>
                   <li>Choreograph a dance (6 lessons)</li>
               </ul>
           </ol>
       </div>
       <div class="col-lg-6">
            <!-- Carousel -->
            <div id="dancers" class="carousel slide" data-bs-ride="carousel">
                <!-- Indicators/dots -->
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#dancers" data-bs-slide-to="0" class="active"></button>
                    <button type="button" data-bs-target="#dancers" data-bs-slide-to="1"></button>
                </div>
                <!-- The slideshow/carousel -->
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="img-fluid part-img" src="static/images/DanceGroup2.jpg">
                    </div>
                    <div class="carousel-item">
                        <img class="img-fluid part-img" src="static/images/DanceGroup.jpg">
                    </div>
                </div>
                <!-- Left and right controls/icons -->
                <button class="carousel-control-prev" type="button" data-bs-target="#dancers" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#dancers" data-bs-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </button>
            </div>
        </div>
   </div>
</div>

<!-- EQUIPMENT -->
<div class="container-lg">
   <div class="row align-items-center">
       <div class="col-lg-6">
           <h3>Equipment:</h3>
           <br>
           <ul>
               <li>Comfortable loose clothing, e.g loose pants, churidar or salwar kameez</li>
               <li>Ghungroo / bells that are tied to the feet</li>
               <li>No footwear required while dancing</li>
               <li>Notebook & pen</li>
           </ul>
       </div>
        <div class="col-lg-6">
            <img class="img-fluid part-img" src="static/images/ghungroo.jpg">
        </div>
   </div>
</div>
{% endblock %}