{% extends "layout.html" %}

{% block title %}
Initial Info
{% endblock %}

{% block banner %}
static/images/BigBanner.jpg
{% endblock %}

{% block header %}
INITIAL INFO
{% endblock %}

{% block quote %}

{% endblock %}

{% block source %}

{% endblock %}

{% block content %}
<!-- COLLAPSE FOR PRACTICE VIDEOS -->
<div class="container-collapse">
    <a class="btn btn-lg btn-outline d-grid py-2" data-bs-toggle="collapse" href="#collapse"><h3 class="special_text">Glossary</h3></a>
       <div id="collapse" class="collapse">
           <div class="glossary">
               <ul>
                   <li>Guru: means teacher </li>
                   <li>Pandit: someone who is very knowledgeable in a certain area </li>
                   <li>Kala: means art </li>
                   <li>Tatkaar: the basis of all footwork, you tap your feet in the
                       pattern right, left, right, left, left, right, left, right, right… and so on
                   <li>tukda: pre-set footwork and hand movements </li>
                   <li>tihai: repeating a tukda 3 times </li>
                   <li>Chakar: spinning </li>
                   <li>Chakardaar tukda: pre-set footwork and hand movements which are repeated 3 times </li>
                   <li>Hastak: hand positions for dance, each hand position represents something </li>
                   <li>Gharana: a slight variation in dance style, originating from different regions </li>
                   <li>Ghungroo: bells tied to the feet </li>
                   <li>Natya Shastra: an ancient book about dance written around 200 to 500 BC </li>
               </ul>
           </div>
       </div>
</div>
<!-- Carousel -->
<br>
<div class="container-lg">
<h3 class="special">Hastak</h3>
    <div id="demo" class="carousel slide" data-bs-ride="carousel">
        <!-- Indicators/dots -->
        <div class="carousel-indicators">
                <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
                <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
                <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
        </div>
                <!-- The slideshow/carousel -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="img-fluid part-img px-3" src="static/images/placeholder_1200_1200.png">
                <div class="carousel-caption">
                    <h3>Churidaar</h3>
                </div>
            </div>
            <div class="carousel-item">
                <img class="img-fluid part-img" src="static/images/placeholder_1200_1200.png">
                <div class="carousel-caption">
                    <h3>Salwaar</h3>
                </div>
            </div>
            <div class="carousel-item">
                <img class="img-fluid part-img" src="static/images/placeholder_1200_1200.png">
                <div class="carousel-caption">
                    <h3>Ghungroo</h3>
                </div>
            </div>
        </div>
        <!-- Left and right controls/icons -->
        <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
        </button>
    </div>
</div>
<!-- CLASSES -->
<br>
<div class="container-lg">
   <div class="row align-items-center">
       <div class="col-lg-6">
           <h3>Classes</h3>
           <br>
           <h4>First class is free for all students!</h4>
           <ol>
               <li><b>Junior Students: 3:30-5:30 pm on Mondays, Jennifer Evans Dance Studio, Samuel Marsden</b></li>
               <li>Runs for around 2 months and 1 week:</li>
               <ul>
                   <li>Learn how to count kathak beats (2 days) </li>
                   <li>Learn basic tatkaar (2 weeks) </li>
                   <li>Learn basic tukda (4 weeks) </li>
                   <li>Learn tihai (2 weeks) </li>
                   <li>Learn chakkar (1 week) </li>
               </ul>
           </ol>
           <ol>
               <li><b>Senior Students: 3:30-5:30 pm on Wednesdays, Jennifer Evans Dance Studio, Samuel Marsden</b></li>
               <li>Runs for around 2 months and 1 week:</li>
               <ul>
                   <li>Learn chakkardar tukdas (2 weeks)</li>
                   <li>Learn more complex tukdas (2 weeks)</li>
                   <li>Learn hastak (1 week)</li>
                   <li>Learn bhaav / emotions (1 week)</li>
                   <li>Choreograph a dance (4 weeks)</li>
               </ul>
           </ol>
       </div>
       <div class="col-lg-6">
           <img class="img-fluid part-img" src="static/images/placeholder_1200_1200.png">
       </div>
   </div>
</div>

<!-- EQUIPMENT -->
<div class="container-lg">
   <div class="row align-items-center">
       <div class="col-lg-6">
           <h3>Equipment:</h3>
           <br>
           <ul>
               <li>Comfortable loose clothing, e.g loose pants, churidar or salwar kameez</li>
               <li>Ghungroo / bells that are tied to the feet</li>
               <li>No footwear required while dancing</li>
               <li>Notebook & pen</li>
           </ul>
       </div>
        <div class="col-lg-6">
            <!-- Carousel -->
            <div id="demo" class="carousel slide" data-bs-ride="carousel">
                <!-- Indicators/dots -->
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
                    <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
                    <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
                </div>
                <!-- The slideshow/carousel -->
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="img-fluid part-img" src="static/images/placeholder_1200_1200.png">
                        <div class="carousel-caption">
                            <h3>Churidaar</h3>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img class="img-fluid part-img" src="static/images/placeholder_1200_1200.png">
                        <div class="carousel-caption">
                            <h3>Salwaar</h3>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img class="img-fluid part-img" src="static/images/placeholder_1200_1200.png">
                        <div class="carousel-caption">
                            <h3>Ghungroo</h3>
                        </div>
                    </div>
                </div>
                <!-- Left and right controls/icons -->
                <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </button>
            </div>
        </div>

   </div>
</div>
{% endblock %}