{% extends "layout.html" %}

{% block title %}
Initial Info
{% endblock %}

{% block banner %}
static/images/BigBanner.jpg
{% endblock %}

{% block header %}
INITIAL INFO
{% endblock %}

{% block quote %}
“ यतो हस्त स्ततो दृष्टि
यतो दृष्टि स्ततो मनः
यतो मनः स्ततो भाव: <br>
यतो भाव स्ततो रस: ”
{% endblock %}

{% block source %}
Natya Shastra
{% endblock %}

{% block content %}
<!-- COLLAPSE FOR PRACTICE VIDEOS -->
<div class="container-collapse">
    <a class="btn btn-lg btn-outline d-grid" data-bs-toggle="collapse" href="#collapse"> Practice Videos </a>
       <div id="collapse" class="collapse">
           <div class="container-lg">
               <p> NEED VIDEOS! </p>
           </div>
       </div>
</div>
<!-- CLASSES -->
<br>
<div class="container-lg">
   <div class="row align-items-center">
       <div class="col-lg-6">
           <h3>Classes</h3>
           <br>
           <ul>
               <li>Junior Students: 3:30-5:30 pm on Mondays, Jennifer Evans Dance Studio, Samuel Marsden</li>
               <li>Senior Students: 3:30-5:30 pm on Wednesdays, Jennifer Evans Dance Studio, Samuel Marsden</li>
           </ul>
       </div>
       <div class="col-lg-6">
           <img class="img-fluid part-img" src="static/images/placeholder_1200_1200.png">
       </div>
   </div>
</div>
<!-- EQUIPMENT -->
<div class="container-lg">
   <div class="row align-items-center">
       <div class="col-lg-6">
           <h3>Equipment:</h3>
           <br>
           <ul>
               <li>Comfortable loose clothing, e.g loose pants, churidar or salwar kameez</li>
               <li>Ghungroo / bells that are tied to the feet</li>
               <li>No footwear required while dancing</li>
               <li>Notebook & pen</li>
           </ul>
       </div>
        <div class="col-lg-6">
           <img class="img-fluid part-img" src="static/images/placeholder_1200_1200.png">
       </div>
   </div>
</div>
{% endblock %}