{% extends "layout.html" %}

{% block title %}
News
{% endblock %}

{% block banner %}
static/images/BigBanner.jpg
{% endblock %}

{% block header %}
NEWS
{% endblock %}

{% block quote %}
Update your students about <br>
news and events!
{% endblock %}


{% block content %}
<!-- to enter news -->
<div class="container_round">
    <div class="text-end">
        <a class="btn btn-lg btn-outline" href="{{ url_for('news_cud', id=0, task='add') }}">Add News</a>
    </div>
</div>

<!-- news structure -->
<!-- LOOP -->
{% for row in news %}
<div class="container_round">
    <h2>{{ row['title'] }}</h2>
    <div class="subtitle">{{ row['subtitle'] }}</div>
    <hr>
    <p class="big-text">{{ row['content'] }}</p>
    <div class="news-meta text-end">Posted by {{ row['firstname'] }} on {{ row['newsdate'] | news_date}}</div>
    <!-- buttons -->
    <div class="text-end news-meta">
        <a class="btn btn-lg btn-outline" href="{{ url_for('news_cud', id=row['news_id'], task='update') }}">Update</a>
        <a class="btn btn-lg btn-outline" href="{{ url_for('news_cud', id=row['news_id'], task='delete') }}">Delete</a>
    </div>
</div>

{% endfor %}
{% endblock %}