{% extends "layout.html" %}

{% block title %}
Add News
{% endblock %}

{% block banner %}
static/images/BigBanner.jpg
{% endblock %}

{% block header %}
ADD NEWS
{% endblock %}

{% block content %}
<br>
<div class="container_round p-3">
    <h2>Please enter / update your news form</h2>
    <form action="{{ url_for('news_cud', id=id, task=task) }}" method="POST">
        <div class="form-floating">
            <input type="text" class="form-control" id="title" name="title" placeholder=" " value="{{title}}" required>
            <label for="title" class="form-label">Title </label>
        </div>
        <br>
        <div class="form-floating">
            <input type="text" class="form-control" id="subtitle" name="subtitle" placeholder=" " value="{{subtitle}}" required>
            <label for="subtitle" class="form-label">Subtitle </label>
        </div>
        <br>
        <div>
            <label for="content" class="form-label">Content </label>
            <textarea id="content" class="form-control" name="content" rows="7" placeholder="e.g Performance tomorrow..." required>{{content}}</textarea>
        </div>
        <br>
        <div class="text-end">
            <button type="reset" class="btn btn-lg btn-outline">Reset</button>
            <button type="submit" class="btn btn-lg btn-outline">Submit</button>
        </div>
    </form>
</div>
{% endblock %}