{% extends "layout.html" %}

{% block title %}
News
{% endblock %}

{% block banner %}
static/images/BigBanner.jpg
{% endblock %}

{% block header %}
NEWS
{% endblock %}

{% block content %}
<div class="container-lg p-3">
    <div class="text-end">
        <button class="btn btn-lg btn-outline">Add News</button>
    </div>
</div>
<div class="container-lg p-3">
    <div class="news">
        <h2>Class cancelled on the Friday 5th June</h2>
        <h3>Learn Tatkaar before the next class </h3>
        <br>
        <p class="body-text">
        Unfortunately, class has been cancelled
        on the 5th of June as it is King Charle’s Birthday.
        Please learn Tatkaar moves before our next class
         </p>
    </div>
    <div class="news-meta text-end">
        <p><b>Posted by Aishwarya on 25 May 23 </b></p>
    </div>
    <div class="text-end">
        <button class="btn btn-lg btn-outline">Update</button>
        <button class="btn btn-lg btn-outline">Delete</button>
    </div>
</div>
<div class="container-lg p-3">
    <div class="news">
        <h2>Rotary Club Arts festival performance 20th May</h2>
        <h3>Fully learn the dance- with emotions</h3>
        <br>
        <p class="body-text">
        We are dancing to “Mein Radha Teri”,
        the moves for this dance must be learnt
        before 20th May, including the tukda.
        Make sure to practice at home!
         </p>
    </div>
     <div class="news-meta text-end">
        <p><b>Posted by Aishwarya on 5 May 23 </b></p>
    </div>
    <div class="text-end">
        <button class="btn btn-lg btn-outline">Update</button>
        <button class="btn btn-lg btn-outline">Delete</button>
    </div>
</div>
<div class="container-lg p-3">
     <div class="news">
        <h2>Indian Independence Day performance 15th August</h2>
        <h3>Pick up dance costume from the dance studio</h3>
        <br>
        <p class="body-text">
        For our independence day dance performance some of you are
        wearing an orange Anarkali, some of you are wearing green
        and some are wearing white. These have been assigned to you.
        Please make sure to pickup your Anarkali from the dance studio
        at 5pm (before the performance)
         </p>
     </div>
    <div class="news-meta text-end">
        <p><b>Posted by Usha on 28 April 23 </b></p>
    </div>
    <div class="news-meta text-end">
        <button class="btn btn-lg btn-outline">Update</button>
        <button class="btn btn-lg btn-outline">Delete</button>
    </div>
</div>
{% endblock %}