{% extends "layout.html" %}

{% block title %}
News
{% endblock %}

{% block banner %}
static/images/BigBanner.jpg
{% endblock %}

{% block header %}
NEWS
{% endblock %}

{% block content %}
<!-- to enter news -->
<div class="news">
    <div class="text-end">
        <a class="btn btn-lg btn-outline" href="">Add News</a>
    </div>
</div>

<!-- news structure -->
<!-- LOOP -->
{% for row in news %}
<div class="news">
    <div class="title">{{ row['title'] }}</div>
    <div class="subtitle">{{ row['subtitle'] }}</div>
    <hr>
    <p class="news-text">{{ row['content'] }}</p>
    <div class="news-meta text-end">
    <p><b>{{ row[''] }}</b></p>
    </div>
    <!-- buttons -->
    <div class="text-end">
        <a class="btn btn-lg btn-outline" href="">Update</a>
        <a class="btn btn-lg btn-outline" href="">Delete</a>
    </div>
</div>
{% endfor %}

{% endblock %}