{% extends "layout.html" %}

{% block title %}
Registrations
{% endblock %}

{% block banner %}
static/images/BigBanner.jpg
{% endblock %}

{% block header %}
REGISTRATIONS
{% endblock %}

{% block quote %}
{% endblock %}

{% block content %}
    <div class="small_container_round">
        <form action="{{url_for('registration', class_id=class_id) }}" method="POST">
            <label for="name_list" class="form-label"><h4>Which Student/Teacher do you want to add</h4></label>
                <select class="form-select" name="name_list" id="name_list"  required>
                  <option value="">Open this select menu</option>
                    {% for row in members %}
                  <option value="{{ row['member_id'] }}">{{ row['firstname'] }} {{ row['surname'] }}</option>
                    {% endfor %}

                </select>
            <div class="text-end">
                <button type="submit" class="btn btn-lg btn-outline">Add member</button>
            </div>
        </form>
    </div>
    {%  for row in register %}
        <div class="small_container_round">
            <table>
            <tr> <td>{{ row['age_group'] }}:</td> <td>{{ row['firstname'] }} {{ row['surname'] }}</td> </tr>
            </table>
            <div class="text-end news-meta">
                <a class="btn btn-lg btn-outline" href="{{ url_for('registration', class_id=class_id, member_id=row['member_id'], task='delete') }}">Delete</a>
            </div>
        </div>
    {% endfor %}


{% endblock %}