/* Root section to add background colour etc. */
:root{
    --dark-brown: rgb(35, 9, 3); 
    --beige: rgb(233, 198, 165);
    --almond: rgb(255, 248, 240);
    --light-beige: rgb(231, 216, 201);
}

/* IMPORTING FONT */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;900&display=swap');

/* BODY */
body{
    /* font size must be 100% */
    font-family: 'Noto Sans', sans-serif;
    font-size: 100%;
    background-color: var(--beige);
}

/* TEXT */
.body-text{
    font-size: 1em;
    text-align: center;
    color: var(--dark-brown);
}

h1{
    font-size: 3em;
    text-align: center;
    font-weight: 600;
    margin: 0;
    padding: 2em 2em;
    color: var(--dark-brown);
    background-color: var(--almond);
}

h3{
    font-size: 2em;
    text-align: center;
    font-weight: 600;
    margin: 0;
    color: var(--dark-brown);
}

/* CONTAINERS */

@media only screen and (max-width:768px){
    
    .body-text{
        font-size: 1.2em;
    }
    
    .h1{
        font-size:4em;
    }

    .h3{
        font-size:3em;
    }
    .card-text{
        font-size: 1em;
    }
}

.container-lg{
    border: 5px;
    background-color: var(--almond);
    margin-bottom: 2.5em;
 }
 
.container-fluid{
border: 0px;
padding:0;
}

.col-lg-7, .col-lg-5{
    border: 0px solid blue;
}

.row{
    border: 0px solid red;
    padding: 1em 0 1em 0; 
}

/* IMAGES */

@media only screen and (max-width:768px){
        
    .part-image{
        max-width: 100%;
        
    }
}

.part-img{
    max-width: 100%;
    display: block;
}

.img-size{
    width:100%;
    max-width: 500px;
    display: block;
    margin: auto;
}

.banner{
    margin-top: 5em;
}

/* CIRCULAR IMAGES */

.image-text{
    color: var(--dark-brown);
}

.col-md-4{
    text-align: center;
}

/* NAVIGATION */

.navbar{
    background-color: var(--beige);
    border-bottom: 1px solid black;
    }

.nav-item:hover{
    background-color: var(--light-beige);
    }

.nav-link{
    text-align: center;
    font-size: 1.5em;
    color: var(--dark-brown);
    padding: 1em 1em;
    }

.nav-link:hover{
    color: var(--dark-brown);
    }

/* BUTTONS */ 

.btn{
    color: var(--dark-brown);

}

.btn-outline{
    border: 1px solid black;
    padding: 0 1em;
}

.btn-outline:hover{
    background-color: var(--light-beige);
}

/* FOOTER */
.footer-content{
    background-color: var(--almond);
    text-align: center;
    padding: 0.5em 0 0.5em 0;
    color: var(--dark-brown);
}

.footer-content p:first-child{
    font-weight:600;
    font-size: 1.5em;
}