/* Root section to add background colour etc. */
:root{
    --dark-violet: rgb(70, 34, 85); 
    --light-purple: rgb(196, 173, 222);
    --magnolia: rgb(252, 247, 255);
    --lighter-purple: rgb(217, 201, 235);
}

/* IMPORTING FONT */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;900&display=swap');

/* BODY */
body{
    /* font size must be 100% */
    font-family: 'Noto Sans', sans-serif;
    font-size: 100%;
    background-color: var(--light-purple);
}

/* TEXT */
.body-text{
    font-size: 1em;
    text-align: center;
    background-color: var(--magnolia);
    color: var(--dark-violet);
}

h1{
    font-size: 3em;
    text-align: center;
    font-weight: 600;
    margin: 0;
    padding: 2em 2em;
    color: var(--dark-violet);
    background-color: var(--magnolia);
}

h3{
    font-size: 2em;
    text-align: center;
    font-weight: 600;
    margin: 0;
    color: var(--dark-violet);
}

/* CONTAINERS */

@media only screen and (max-width:768px){
    
    .body-text{
        font-size: 1.2em;
    }
    
    .h1{
        font-size:4em;
    }

    .h3{
        font-size:3em;
    }
}

@media only screen and (max-width:576px){
        
        .part-image{
            max-width: 100%;
            
        }
    }

.container-lg{
    border: 5px;
    background-color: var(--magnolia);
    margin-bottom: 2.5em;
 }
 
.container-fluid{
border: 0px;
padding:0;
}

.col-lg-7, .col-lg-5, .col-sm-4{
    border: 2px solid blue;
}

.row{
    border: 2px solid red;
    padding: 1em 0 1em 0; 
}

/* IMAGES */
.part-img{
    max-width: 75%;
    margin: auto;
    display: block;
}

.img-size{
    width:100%;
    max-width: 250px;
    display: block;
    margin: auto;
}

.card{
    text-align: center;
    width:100%;
    max-width: 250px;
    display: block;
    margin: auto;   
}

/* NAVIGATION */

.navbar{
    background-color: var(--light-purple);
    border-bottom: 1px solid black;
    }

.nav-item:hover{
    background-color: var(--lighter-purple);
    }

.nav-link{
    text-align: center;
    font-size: 1.5em;
    color: var(--dark-violet);
    padding: 1em 1em;
    }

.nav-link:hover{
    color: var(--dark-violet);
    }

/* BUTTONS */ 

.btn-outline{
    border: 1px solid black;
    padding: 0 1em;
}

.btn-outline:hover{
    background-color: var(--lighter-purple);
}

/* FOOTER */
.footer-content{
    background-color: var(--magnolia);
    text-align: center;
    padding: 0.5em 0 o.5em 0;
    color: var(--dark-violet);
}

.footer-content p:first-child{
    font-weight:600;
    font-size: 1.5em;
}